@using MetaGraffiti.Web.Admin.Models;
@model DemoViewModel

<style>
	#mapD3 {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 100%;
		bottom: 100%;
		width: 100%;
		height: 100%;
		background: #000;
		z-index: 0;
	}

	.geodot {
		fill: #fff;
	}

	.geoshape {
		fill: #222;
		stroke: #777;
	}

	.visited {
		fill: #030;
		stroke: #060;
	}

	.visited--select {
		fill: #060;
		stroke: #090;
	}

	.visited--hover {
		fill: #090;
		stroke: #0c0;
	}
</style>

<div id="mapD3">
</div>

<script src="/scripts/_graffiti/demo/d3.v4.min.js"></script>
<script src="/scripts/_graffiti/demo/d3-geo-projection.v2.min.js"></script>
<script src="/scripts/_graffiti/demo/topojson.v2.min.js"></script>

<script>
	var places = [];

	var _geo = new GeoGraffiti();
	_geo._visited = [858, 392, 124, 10, 32, 76, 152, 36, 40, 56, 156, 250, 276, 344, 356, 372, 380, 388, 484, 496, 528, 554, 643, 702, 724, 826, 840];

	_mapD3.start(_geo);
	_mapD3.show("@(Model.SelectedCountry?.ISO2 ?? "world")");


	_mapD3.onDone = function () {
		$.getJSON("/json/places", function (data) {
			places = data;
			_mapD3.drawPoints(places);
		});
	};
</script>
