@using MetaGraffiti.Web.Admin.Models;
@model AdminViewModel

@if (Model.HasError)
{
	<div class="alert alert-danger">
		@foreach (var error in Model.ErrorMessages)
		{
			<div>@IconHelper.ErrorMessageIcon @error</div>
		}
	</div>
}
