@using MetaGraffiti.Web.Admin.Models;
@model XlsViewModel

@Html.Partial("_Nav")

<div class="row">
	<div class="col-md-6">
		<h1>Years</h1>
		@foreach (var year in Model.Years)
		{
			<div class="h2">
				<a href="/xls/years/@(year)">@year</a>
			</div>
		}
	</div>
	<div class="col-md-6">
	</div>
</div>