@using MetaGraffiti.Web.Admin.Models;
@model AdminViewModel
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@Model.PageTitle@(String.IsNullOrWhiteSpace(Model.PageTitle) ? "" : " | ")MetaGraffiti</title>
	<script src="https://maps.googleapis.com/maps/api/js?key=@(AutoConfig.GoogleMapsApiKey)&libraries=places"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" crossorigin="anonymous"></script>
	<script src="~/Scripts/jquery-3.4.1.js"></script>
	<script src="~/Scripts/jquery.sparkline.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	<script src="~/Scripts/typeahead.bundle.js"></script>
	<script src="~/Scripts/_graffiti/carto.js"></script>
	<script src="~/Scripts/_graffiti/meta.js"></script>
	<script src="~/Scripts/_graffiti/maps.js"></script>
	<script src="~/Scripts/_graffiti/geo.js"></script>
	<script src="~/Scripts/_graffiti/topo.js"></script>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/font-awesome.css" rel="stylesheet" />
	<link href="~/Content/flags.css" rel="stylesheet" />
	<link href="~/Content/_graffiti/common.css" rel="stylesheet" />
	<link href="~/Content/_graffiti/typeahead.css" rel="stylesheet" />
</head>
<body>
	<div class="container-fluid">
		@RenderBody()
	</div>
</body>
</html>