
@using MetaGraffiti.Web.Admin.Models;
@model TrackViewModel

@Html.Partial("_Nav")

<div class="h2">Import</div>

<div class="row">
	<div class="col">
		<a class="btn btn-primary" href="@TrackViewModel.GetBrowseRootUrl()">Browse Sources</a>
		<a class="btn btn-success" href="@TrackViewModel.GetBrowseCurrentUrl()">Current Month</a>
	</div>
</div>