@using MetaGraffiti.Web.Admin.Models;
@model AdminViewModel
<div class="jumbotron">
	<div class="container">
		<h1 class="display-1"><span class="font-weight-bold">Meta</span>Graffiti</h1>
		<div>
			@foreach (var area in Model.Areas)
			{
				if (area != AdminAreas.Home)
				{
					<a class="h1" href="/@(area.ToString())">@area.ToString()</a>
					<span>&nbsp;</span>
				}
			}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div><a href="/carto/" class="text-primary"><div class="display-1"><span class="font-weight-bold">Carto</span>Graffiti</div> <div class="h1">Create Maps</div></a></div>
			<hr />
			<div><a href="/trail/" class="text-success"><div class="display-1"><span class="font-weight-bold">Topo</span>Graffiti</div> <div class="h1 text-success">Browse Trails</div></a></div>
			<hr />
			<div><a href="/geo/" class="text-info"><div class="display-1"><span class="font-weight-bold">Geo</span>Graffiti</div> <div class="h1">Manage Core</div></a></div>
		</div>
		<div class="col-md-4">
			<div><a href="/ortho/" class="text-secondary"><div class="display-3"><span class="font-weight-bold">Ortho</span>Graffiti</div></a></div>
			<div><a href="/travel/" class="text-primary"><span class="display-4">Record Trip</span></a></div>
			<div><a href="/track/" class="text-success"><span class="display-4">Import Track</span></a></div>
			<div><a href="/xls/" class="text-info"><span class="display-4">Create Place</span></a></div>
		</div>
	</div>
</div>
