@using MetaGraffiti.Web.Admin.Models;
@model AdminViewModel
<div class="jumbotron">
	<div class="container">
		<h1 class="display-1">MetaGraffiti</h1>
	</div>
</div>

<div class="container">
	@foreach (var area in Model.Areas)
	{
		if (area != AdminAreas.Home)
		{
			<div>
				<a class="display-3" href="/@(area.ToString())">@area.ToString()</a>
			</div>
		}
	}
</div>
