<style type="text/css">
	body {
		font-family: 'Amatic SC', cursive;
	}

	#logo {
		display: block;
		width: 100%;
		font-size: 4rem;
		text-align: center;
		background: rgba(0, 0, 0, 0.5);
		text-decoration: none;
		color: #fff;
	}

	#menu {
		font-size: 2rem;
	}

	#what {
		float: left;
		width: 50%;
		background: green;
	}

	#where {
		float: right;
		width: 50%;
		background: blue;
		text-align: right;
	}
</style>

<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

<a id="logo" href="/">Kevin &amp; Earth</a>
<div id="menu">
	<div id="what">World Globe</div>
	<div id="where">New Zealand</div>
</div>
