/* ========================= */
/* Base Element Styles       */
/* ========================= */

HTML {
	width: 100%;
	height: 100%;
	line-height: 1.0;
	background: #000;/* url(/images/background.jpg) top left no-repeat fixed;*/
	/*background-size: cover;*/
}

BODY {
    color: #fff;
    height: 100%;
    font-size: 13px;
    font-family: Arial;
}

#body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/* ========================= */
/* Main Element Styles       */
/* ========================= */

#root {
    width: 93.75%;
    margin: 0 auto;
    min-height: 100%;
    min-width: 450px;
}

/* fix width if near 1280 or 1920 */
@media screen and (min-width: 1200px) {
    #root {
        width: 1200px;
        min-height: 550px;
    }
}

@media screen and (min-width: 1900px) {
    #root {
        width: 1800px;
    }
}

/* ========================= */
/* Header Styles             */
/* ========================= */

#head {
    width: 100%;
    height: 32px;
    display: table;
    table-layout: fixed;
    background: rgba(0,0,0,0.50);
}

    #head IMG {
        margin: 0;
        border: 0;
        padding: 0;
        vertical-align: middle;
    }

    #head #logo IMG {
        height: 24px;
    }

    #head #logo {
        vertical-align: middle;
        display: table-cell;
        width: 150px;
        height: 100%;
    }

        #head #logo A {
            display: block;
        }

    #head #help {
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
    }


@media screen and (min-width: 980px) {
    #head #menu {
        width: 120px;
        height: 100%;
        text-align: right;
        display: table-cell;
    }

        #head #menu IMG {
            height: 24px;
			padding-bottom: 2px;
        }

        #head #menu A {
            float: left;
            display: block;
            padding: 4px 2px;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            height: 100%;
            width: 36px;
            color: #fff;
        }

            #head #menu A:hover {
                background: #000;
            }

			#head #menu A SPAN {
				display: none;
			}

@media screen and (min-width: 980px) {
    #head {
        height: 56px;
    }

    #head #logo {
        width: 300px;
    }

    #head #logo IMG {
        height: 48px;
    }

    #head #menu IMG {
        height: 32px;
    }

	#head #menu A SPAN {
		display: block;
		text-align: center;
	}
}

@media screen and (min-width: 1200px) {
	#head #menu {
		width: 300px;
	}

	#head #menu IMG {
        height: 48px;
		padding-right: 4px;
    }

	#head #menu A {
		width: 96px;
	}

	#head #menu A SPAN {
		display: inline;
		font-size: 18px;
	}
}

/* ========================= */
/* Page Styles               */
/* ========================= */

#main {
    width: 100%;
    display: table;
    min-height: 250px;
    background: rgba(0,0,0,0.50);
}

#rail {
    width: 150px;
    display: none;
	overflow: hidden;
    vertical-align: top;
}

#page {
    min-width: 300px;
    display: table-cell;
}

@media screen and (min-width: 480px) {
    #rail {
        display: table-cell;
    }
}

@media screen and (min-width: 980px) {
    #rail {
        width: 300px;
    }
}

FOOTER {
	padding: 4px;
	font-size: 9px;
	text-align: center;
	text-shadow: 1px 1px #000;
	opacity: 0.75;
}

FOOTER A {
	color: #c90;
	text-decoration: none;
}

FOOTER A:hover {
	color: #fc3;
}

@media screen and (min-width: 660px) {
    FOOTER {
        font-size: 12px;
    }
}