@using MetaGraffiti.Web.Admin.Models;
@model TrailViewModel

@Html.Partial("_Nav")

<div class="h3">@Model.Trail.Name</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />

<style>
	#elevation {
		width: 100%;
		height: 400px;
	}
</style>

<div id="elevation"></div>
<!--http://dygraphs.com/-->
<script>
	var elevation = [
		@{
			var count = 0;
			foreach (var t in Model.Elevation.TopoTracks)
			{
				foreach (var p in t.Points)
				{
					count++;
					<text>[new Date("@(p.Timestamp)")</text><text>, @p.Elevation</text><text>],</text>
					}
			}
			}
	];
	new Dygraph(document.getElementById("elevation"), elevation);
</script>