@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<div class="row">
	<div class="col-sm-6">
		<div class="h2"><a href="/carto/search/">Search</a></div>
		<div class="h2"><a href="/carto/places/">Places</a></div>
		<br />
		<hr />
	</div>
</div>