@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")

<div class="row">
	<div class="col-sm-6">
		<div class="h2"><a href="/carto/places/">Places</a></div>
		<br />
		<hr />
		<a class="btn btn-success js-confirm" href="#">Persist</a>
		<a class="btn btn-danger js-confirm" href="@CartoViewModel.GetReloadUrl()">Reload</a>
	</div>
</div>