@using MetaGraffiti.Web.Admin.Models;
@model CartoViewModel

@Html.Partial("_Nav")


<div class="row">
	<div class="col-sm-6">
		<div class="h2">Places</div>
		<table class="table table-striped table-sm">
			<thead class="thead-dark">
				<tr>
					<th class="text-center">#</th>
					<th>Name</th>
					<th>Country</th>
					<th>Region</th>
				</tr>
			</thead>
			<tbody>
				@{
					var count = 0;
					foreach (var p in Model.Places)
					{
						<tr>
							<td class="text-center">@(++count)</td>
							<td><a href="/carto/place/@(p.Key)">@p.Name</a></td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>