@model MetaGraffiti.Web.Admin.Models.GeoViewModel

@Html.Partial("_Nav")

<div class="h2"><a href="/geo/timezones">Timezones</a></div>
<div class="h2"><a href="/geo/countries">Countries</a></div>
<div class="h2"><a href="/geo/regions">Regions</a></div>