@model MetaGraffiti.Web.Admin.Models.GeoViewModel

<div class="h2"><a href="/geo/timezone">Timezones</a></div>
<div class="h2"><a href="/geo/country">Countries</a></div>
<div class="h2"><a href="/geo/region">Regions</a></div>
