@model MetaGraffiti.Web.Admin.Models.GeoViewModel

<h2><a href="/">Admin</a> \ Geo</h2>

<h3><a href="/geo/timezone">Timezones</a></h3>
<h3><a href="/geo/country">Countries</a></h3>
<h3><a href="/geo/region">Regions</a></h3>
