@model MetaGraffiti.Web.Admin.Models.GpxViewModel

@Html.Partial("_Gpx")

<table class="table table-striped table-sm">
	<tbody>
		<tr class="table-active">
			<th>Index</th>
			<th>Name</th>
			<th>Error</th>
		</tr>
		@{
			var count = 0;
			foreach (var gpx in Model.Cache.Where(x => !x.File.Valid))
			{
				<tr>
					<td>
						@(++count)
					</td>
					<td>
						@gpx.File.Uri
					</td>
					<td>
						@gpx.File.Error.ToString()
					</td>
				</tr>
			}
		}
	</tbody>
</table>
