@model MetaGraffiti.Web.Admin.Models.GpxViewModel

@Html.Partial("_Gpx")

<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Year</th>
					@for (var month = 1; month <= 12; month++)
					{
					<th class="text-right">@Model.GetMonth(month, true)</th>
					}

				</tr>
			</thead>
			<tbody>
				@foreach (var year in Model.Years)
				{
					<tr>
						<td>
							<a class="h4" href="/gpx/@year">
								@year
							</a>
						</td>
						@for (var month = 1; month <= 12; month++)
						{
							<td class="text-right">
								<a class="h5" href="/gpx/@year/@month">
									@{ 
										var count = Model.GetCalendarEntry(year, month).Files.Count;
										if (count > 0)
										{
											<span>@count</span>
										}
									}
								</a>
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
